<h5>Comment List</h5>
<table class="table">
  <% book.comments.each do |comment| %>
    <tr>
      <td>
        <%= attachment_image_tag comment.user, :profile_image, size: '40x40', fallback: 'no_image.jpg' %>
      </td>
      <td>
        <%= comment.user.name %>
      </td>
      <td>
        <%= comment.created_at.strftime('%Y/%m/%d') %>
      </td>
      <td>
        <%= comment.comment %>
      </td>
      <% if comment.user == current_user %>
        <td>
          <%= link_to "Destroy", book_comment_path(comment.book.id, comment.id), method: :delete, 'date-confirm' => '本当に消しますか？', class: 'btn btn-danger' %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<h5>New Comment</h5>
<%= render 'layouts/errors', obj: comment %>

<%= form_with(model: [book, comment], local: true) do |f| %>
  <%= f.text_area :comment, rows: '5', cols: '60' %><br>
  <%= f.submit "送信", class: 'mt-2' %>
<% end %>