<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
        <%= link_to "Bookers", root_path, class: 'font-weight-bold text-light' %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="dropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <%= link_to "Home", user_path(current_user), class: 'fas fa-home mr-2 text-light' %>
              </li>
              <li>
                <%= link_to "Users", users_path, class: 'fas fa-users mr-2 text-light' %>
              </li>
              <li>
                <%= link_to "Books", books_path, class: 'fas fa-book-open mr-2 text-light' %>
              </li>
              <li>
                <%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt mr-2 text-light' %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Home', root_path, class: 'fas fa-home mr-2 text-light' %>
              </li>
              <li>
                <%= link_to 'About', about_path, class: 'fas fa-link mr-2 text-light' %>
              </li>
              <li>
                <%= link_to 'sign up', new_user_registration_path, class: 'fas fa-user-plus mr-2 text-light' %>
              </li>
              <li>
                <%= link_to 'login', new_user_session_path, class: 'fas fa-sign-in-alt mr-2 text-light' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
